@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Changa+One&family=PT+Sans&display=swap');

#content { 
    max-width: 1600px;
    margin: 0 auto;
}

body {
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(10, 20, 20, .7);
    display: grid;
    grid-template-columns: 140px auto;
}

.logo {
    width: 150px;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
    font-family: "Archivo Black";
}

nav a:hover {
    background-color: white;
    color: black;
}

nav {
    display: flex;
    justify-content: space-around;
}

#hero-msg h1 {
    text-align: center;
    color: lavender;
}

#hero-img {
    width: 100%;

}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -156px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    font-family: "Archivo Black";
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0 auto;
    margin-bottom: 60%;
    font-size: 30px;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.chords-card {
    grid-column: 3/6;
    padding-right: 50px;
}

.song-card {
    grid-column: 6/9;
    padding-left: 50px;
}

.song-card h2 {
    font-family: "Archivo Black";
}

.chords-card h2 {
    font-family: "Archivo Black";
}

.chords-card, .song-card {
    padding-top: 50px;
}

.card-img {
    width: 100%; 
    border: 10px solid cadetblue;
    transition: transform .5s;
    box-shadow: 5px 5px 10px grey;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}



footer {
    background-color: #093A3E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 50px;
}

footer h3 {
    color: antiquewhite;
    font-family: "Archivo Black";
}

footer a {
    color: antiquewhite;
}

.man {
    width: 100%;
    padding: 50px 50px;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px gray;
}

main section img {
    box-sizing: border-box;
}

main section {
    text-align: center;
}

.msg {
    background-color: rgba(15, 60, 50, .7);
    padding: 35px;
    line-height: 1.5em;
    grid-column: 5/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px gray;
}

.msg p {
    color: white;
    font-family: "PT Sans";
}

.get-started {
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px;
    border-radius: 5px;
    font-family: "Archivo Black";
}

.get-started:hover {
    color: white;
    background-color: black;
}

#background {
    height: 725px;
    background-color: lavender;
    grid-column: 1/11;
    grid-row: 4/9;
}



/* Chords page css */

#chord-hero {
    grid-column: 1/3;
}

#chord-hero-box {
    grid-column: 1/3;
    padding: 50px;
}

#chord-hero-img {
    width: 100%;
    border: 10px solid #093A3E;
    box-shadow: 5px 5px 10px gray;
    /* padding-top: 50px; */
}

#chord-hero-msg {
    align-items: center;
    justify-items: center;
    font-family: "Archivo Black";

}

#chord-hero-p {
    padding: 50px;
    font-family: "Archivo Black";
    background-color: lavender;
}

.chord-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}



.chord-chart {
    width: 80%;
    grid-column: 1/3;
    padding-top: 100px;
    margin: 0 auto;
}


.chord-msg {
    grid-column: 1/3;
    grid-row: 5/6;
    font-family: "Archivo Black";
    font-size: 24px;
    
}

.chord-img {
    border: 5px solid #093A3E;
    width: 350px;
    box-shadow: 5px 5px 10px gray;
}

.flip-card {
    background-color: transparent;
    width: 350px;
    height: 523px;
    border: 1px solid #f1f1f1;
    margin: 50px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    /* background-color: #bbb; */
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    /* background-color: dodgerblue; */
    color: white;
    transform: rotateY(180deg);
  }


  /* Songs page css */
  

#songs-hero {
    grid-column: 1/3;
}

#songs-hero-img {
    width: 100%;
}

#songs-hero h1 {
    text-align: center;
    font-family: "Archivo Black";
}

.take-me-home-country-roads {
    grid-column: 1/21;
    
}

.take-me-home-country-roads h2 {
    font-family: "Archivo Black";
}

.take-me-home-country-roads h4 {
    font-family: "Archivo Black";
}

span {
    font-family: "PT Sans";
}

#congrats {
    text-align: center;
}

#guitar-sunset-box {

    grid-column: 1/5;
    grid-row: 1/3;
    z-index: -1;
}

.guitar-sunset {
    width: 100%;
    
}

.first-line-grid {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
}

.strum-chord {
    background-color: lavender;
    box-shadow: 2px 2px 5px gray;
}

#g-first-line{
    grid-column: 10/11;
}

#em-first-line{
    grid-column: 12/13;
}

#d-first-line {
    grid-column: 14/15;
}

#c-first-line {
    grid-column: 19/20;
}

#g-first-line-2 {
    grid-column: 22/23;
}

#g-second-line {
    grid-column: 9/10;
}

#em-second-line {
    grid-column: 11/12;
}


#g-chorus-first-line {
    grid-column: 12/13;
}

#d-chorus-first-line {
    grid-column: 14/15;
}

#em-chorus-first-line {
    grid-column: 16/17;
}

#c-chorus-first-line {
    grid-column: 19/20;
}

#g-chorus-first-line-2 {
    grid-column: 20/21;
}

#g-chorus-second-line {
    grid-column: 11/12;
}

#d-chorus-second-line{
    grid-column: 13/14;
}

#c-chorus-second-line {
    grid-column: 16/17;
}

#g-chorus-second-line-2 {
    grid-column: 19/20;
}

#em-bridge-first-line {
    grid-column: 12/13;
}

#d-bridge-first-line {
    grid-column: 14/15;
}

#g-bridge-first-line {
    grid-column: 17/18;
}

#c-bridge-second-line {
    grid-column: 12/13;
}

#g-bridge-second-line {
    grid-column: 14/15;
}

#d-bridge-second-line {
    grid-column: 17/18;
}

#g-bridge-third-line {
    grid-column: 16/17;
}

#d-bridge-third-line {
    grid-column: 20/21;
}

#d-outro-first-line {
    grid-column: 11/12;
}

#g-outro-first-line {
    grid-column: 13/14;
}

#close {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 100px;
}

#closing-message {
    grid-column: 2/4;
    grid-row: 1/2;
    font-family: "Archivo Black";
}